body{font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;}
    div{
        margin: 10px;
        margin-bottom: 45px;
    }
    button{
        border-radius: 6px;
        border: solid 0.01px;
        background-color: rgba(255, 232, 168, 0.833);
    }